<tr>
	<td style="padding-right:300px">
		<%= sanitize(truncate(comment.content, length: 80)) %>
	</td>
  	<td style="padding-right:50px">
  		<%= comment.poster %>
  	</td> 
  	<td>
  		<%= comment.created_at %>
  	</td>
</tr>