<h3>Pragmatic Order Shipped</h3>
<p>
	This is just to let you know that we've shipped some products of your recent order:
</p>

<table>
	<tr>
		<th>Qty</th>
		<th>Book</th>
		<th>Price</th>
	</tr>
	<%= render @line_items %>
</table>
