<h1><%= t('.new_user')%></h1>

<%= link_to t('.back'), store_path %>
<div id="a5" class="b1">
    <div id="a3" class="b3">Register<a href="javascript:void(0)" onClick="login(0)" class="b5">close</a></div>
    <div id="a4" class="b4">
        <%= render 'form' %>
    </div>
</div>
<div id="a6" class="b2"></div>