/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.locale {
  float: right;
  padding-top: 3em;
  padding-right: 1em;
}
/*
h1 {
    margin: 0;
    padding-bottom: 0.5em;
    font: 150% sans-serif;
    color: #154;
    border-bottom: 4px dotted #77d;
}*/
/*#product h1 {
  background-image:url(products.jpg);
  background-repeat:no-repeat;
  width:530px;
  height:33px;
  text-indent:700px;
  overflow:hidden;
  border-bottom: 4px dotted #77d;
  margin: 10px 0px 15px 0px;
  padding: 0px 0px 10px 0px;
}*/
#welcome h1 {
  background-image:url(welcome.gif);
  background-repeat:no-repeat;
  width:520px;
  height:33px;
  text-indent:700px;
  overflow:hidden;
  border-bottom: 1px dashed #2e2304;
  margin: 10px 0px 15px 0px;
  padding: 0px 0px 10px 0px;
}
#body {
  margin: 0;
  padding: 0;
  line-height: 1.5em;
  font-family: Verdana, Arial, san-serif;
  font-size: 11px;
  color: #ffffff;
  background: #4b4743;
}
.cleaner {
  clear: both;
  width: 100%;
  height: 1px;
  font-size: 1px; 
}

.cleaner_with_height {
  clear: both;
  width: 100%;
  height: 30px;
  font-size: 1px; 
}

.cleaner_with_width {
  float: left;
  width: 20px;
  height: 30px;
  font-size: 1px; 
}
/* menu */

#templatemo_menu {
  clear: both;
  width: 960px;
  height: 45px;
  background: url(templatemo_menu_bg.jpg) no-repeat;
}

#templatemo_menu ul {
  padding: 13px 0 0 0;
  margin: 0;
  list-style: none;
}

#templatemo_menu ul li{
  display: inline;
}

#templatemo_menu ul li a{
  float: left;
  padding: 0 20px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #969547;
}

#templatemo_menu li a:hover, #templatemo_menu li .current{
  color: #fcf88e;
}

/* end of menu*/
* {margin:0px;padding:0px;}
.clear{clear:both;}
#container {
  //margin: 0px auto;
  //text-align: left;
  //width: 979px;
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  background: #1c1c1b url(templatemo_bg.jpg) repeat-y;
}
#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}
#userMessage {
  display: inline;
  padding-right: 1em;
  a {
    text-decoration: none;
    color: #dcf;
  }
  font-size: 1.5em;
  font-variant: normal;
  font: normal "Times New Roman", serif;
  float: right;
}
#header {
  background-image:url(templatemo_header_bg.jpg);
  display:block;
  clear: both;
  width: 960px;
  height: 285px;
  padding: 0;
  margin: 0;
  
  font: small-caps 40px/40px "Times New Roman", serif;
  #title {
    float: left;
    padding-top: 0.5em;
    padding-left: 0.3em;
    color: deepskyblue;
  }
  img {
    float: left;
  }
  a {
      TEXT-DECORATION:none
    }
  a:hover{TEXT-DECORATION:underline}
  ul {
    padding-top: 3em;
    float: right;
    list-style: none outside none;
    li {
      float: left;
      a {
        color: #dfd;
        display: block;
        padding: 7px 15px;
        text-decoration: none;
        display: inline;
     } 
    } 
  }
  #search {     
    padding-top: 190px;
    padding-left: 600px;
    #searchBox {
      float: left;
    }
  }
  
  #templatemo_special_offers {
    float: left;
    font-size: 14px;  
    margin-top: 95px;
    margin-left: 490px;
    width: 180px;
  }
  
  #templatemo_special_offers a {
    font-size: 12px;
    color: white;
  }
  
  #templatemo_special_offers  p {
    margin: 0 0 20px 0;
  }
  #templatemo_special_offers p span {
    font-size: 18px;
  }
  
  #templatemo_new_books {
    float: left;
    margin-top: 90px; 
    margin-left: 55px;
    width: 180px;
  }
  
  #templatemo_new_books a {
    font-size: 12px;
    color: white;
  }
  #templatemo_new_books ol {
     margin: 0 0 10px 0;
     padding: 0 0 0 20px;
  }
  
  #templatemo_new_books li {
     margin: 0;
     padding: 0; 
  }
}
#border {
  background-image:url(border.gif);
  background-repeat: repeat-y;
  width:979px;
}
#main1 {
  //background-image:url(contentbg.gif);
  //background-color:#abe4fe;
  //margin: 0px 12px 0px 10px;
  //background-repeat: repeat-x;
  clear: both;
  width: 920px;
  padding: 0 20px;
}
#left {
  float: left;
  width: 188px;
  padding: 10px;
  background-color: #171716;
  border: 1px solid #212120;
}
#right {
  float: right;
  width: 670px;
}
#right .templatemo_product_box {
  float: left;
  width: 303px;
  height: 210px;
  padding: 10px;
  border: 1px solid #333;
}

#right h1 {
  padding: 10px;
  margin: 0 0 20px 0;
  font-size: 15px;
  color: #cbc750;
  background: url(templatemo_h1_bg.jpg);
}

#right h2 {
  padding: 0 0 0 0;
  margin: 0 0 20px 0;
  font-size: 12px;
  color: #e6e154;
}

#right h3 {
  padding: 0;
  margin: 0 0 20px 0;
  font-size: 18px;
  color: #85391f;
}

#right ul {
  margin: 0 0 20px 0;
  padding: 0 0 0 20px;
  list-style: none;
}

#right li {
  padding: 0 0 3px 0;
}

#right .image_panel {
  float: left;
  width: 100px;
  margin-right: 20px;
}

#right p {
  text-align: justify;
  padding: 0 0 8px 0;
}
.cleaner_with_height {
  clear: both;
  width: 100%;
  height: 30px;
  font-size: 1px; 
}
/***************** Menu ***********************/
#menu {
  clear: both;
  padding-bottom: 10px;
  border-bottom: 1px solid #2b2b2a;
  margin-bottom: 20px;
  color: #cbc750;
  font-weight: 900;
  cursor:pointer;
  #menu1 {
    //color: deepskyblue;
    padding: 1em;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 200;
    //a{color: #baf;}
    ol {
      padding-left: 1em;
    }
  }
}
#menu h1 {
  font-size: 14px;
  color: #cbc750;
  padding: 0 0 5px 0;
  margin: 0 0 10px 0;
  border-bottom: 1px dotted #cbc750;
}

#menu ul {
  padding: 0;
  margin: 0;
}

#menu ul li{
  padding: 0 0 3px 10px;  
  list-style: none;
}

#menu ul li a{
  font-weight: normal;
  text-decoration: none;
  color: #969547;
}

#menu li a:hover, #menu li .current{
  color: #fcf88e;
}
/*
#menu ul {
  padding: 10px 0px 0px 0px;
  width:220px;
  margin-left:15px;

  cursor:pointer;
  #menu1 {
    color: deepskyblue;
    padding: 1em;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 900;
    a{color: #baf;}
    ol {
      padding-left: 1em;
    }
  }
}
#menu li {
  background-image: url(arrow.gif);
  background-repeat: no-repeat;
  background-position: right center;
  #border-bottom: 1px dotted #2e2304;
  list-style-type: none;
  padding: 4px 30px 4px 0px;
  text-align:left;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 900;
  color: #2e260f;
  text-decoration: none;
  font-size: 12px;
}
#menu a {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 900;
  color: #2e260f;
  text-decoration: none;
  font-size: 12px; 
}
#menu a:hover {
  color:#c40000;
}
.lastchild{
  border-bottom: none !important;
}
#menubottom {
  background-image:url(menubottom.jpg);
  background-repeat:no-repeat;
  width:261px;
  height:76px;
  margin-left:10px;
}
#menubottom ul {
  padding: 20px 0px 0px 0px;
  width:240px;
  margin-left:15px;
}
#menubottom li {
  float:left;
  display:inline;
  width:77px;
  text-align:center;
}
#menubottom a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration:none;
  font-weight: bolder;
  font-size:10px;
  color: #6e6b53;
  text-transform: uppercase;
}
#menubottom a:hover {
  color:#c40000;
}*/
/***************** Footer ***********************/
/* footer */
#templatemo_footer {
  clear: both;
  width: 960px;
  padding: 20px 0px 20px 0;
  text-align: center;
  border-top: 1px solid #25211e;
  color: #999;
  background-color: #111110;
}

#templatemo_footer a{
  text-decoration: none;
  color: #fff;
  font-weight: normal;
}
#templatemo_footer a:hover{TEXT-DECORATION:underline}
/* end of footer */
#footer {
  background-color:#8bcaef;
  background-image:url(borderfooter.gif);
  height:74px;
  width:979px;
}
#footerend {
  background-image:url(borderfooterend.gif);
  background-repeat: no-repeat;
  width:979px;
  height:9px;
  display:block;
}
#copyright {
  background-image:url(copyright.jpg);
  background-repeat:no-repeat;
  width:220px;
  height:43px;
  display:inline;
  margin-left:20px;
  float:left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 800;
  color: #463d16;
  padding: 30px 20px 0px 20px;
  text-align:center;
}
#copyright a {
  font-family: Arial, Helvetica, sans-serif;
  color: #463d16;
}
#payment {
  float:left;
  display:inline;
  margin: 10px 0px 20px 100px;
}
#payment img {
  border: none;
  width: 300px;
  height: 50px;
}

#a1{
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    z-index:1002;
    color: black;
    #a4 {
      table {
        text-align: left;
        margin-left: 250px;

        td {
          padding-bottom: 40px;
        }
      }
      text-align: center;
      padding-top: 100px;
    }
    img {
      width: 35px;
      height: 35px;
    }
}
#a2{
    display:none;
    position:absolute;
    top: 0;
    left: 0;
    width:102%;
    height:210%;
    background-color:black;
    z-index:1001;
    opacity:.80;
    filter: alpha(opacity=80);
}
div.b3{
    position:absolute;
    width: 100%;
    height:35px;
    background-color:#CCCCCC;
    line-height:35px;
    overflow:hidden;
    font-size:22px;
    font-weight:900;
    cursor:move;
}
div.b3 a{
    text-decoration:none;
    color:#FFFFFF;
}
div.b3 a:hover{color:red;}
div.b4{
    width: 100%;
    height: 100%;
    background-color:#FFFFFF;
}
a.b5{
    position:absolute;
    right:0;
    margin-top:-5px;
}
        
.depot_form {
  color: black;
  fieldset {
    margin-top: 1em;
    background: AliceBlue;
    
    legend {
      color: #dfd;
      background: deepskyblue;
      font-family: sans-serif;
      padding: 0.2em 1em;
    }
  }
  
  form {
    label {
      width: 5em;
      float: left;
      text-align: right;
      padding-top: 0.5em;
      margin-right: 0.1em;
      display: block;
    }
    
    select, textarea, input {
      margin-left: 0.5em;
      margin-top: 0.5em;
    }
    
    submit {
      margin-left: 0.5em;
    }
    
    .submit {
      margin-left: 4em;
    }
    
    br {
      display: none;
    }
  }
}


body.sideMenu{ margin:0; -webkit-transform:none; transform:none; }
#sideToggle{ display:none; }
#sideToggle:checked + aside{ left:0; }
#sideToggle:checked ~ #wrap{ padding-left:220px; }
body #slide > aside{ 
  position:absolute; 
  top:300px; bottom:200px; 
  left:-200px; 
  width:200px; 
  filter:alpha(opacity=50); -moz-opacity:0.50; opacity:0.50;//半透明效果
  //background:#FFFFF0; 
  transition:0.2s ease-out; 
  -webkit-transition:0.2s ease-out; 
}
body #slide > aside > h2{ 
  color:#FFF; 
  text-align:center; 
  font: normal "Times New Roman", serif; 
  font-weight:normal; 
  padding:10px; 
}
#slide { 
  img {
    width: 100px;
    height: 100px;
  }
  #wrap{ margin-left:-150px; padding:0px; transition:0.25s ease-out; -webkit-transition:0.25s ease-out; }
  #wrap > label{ display:inline-block; }
  #wrap > label{ 
    
    position: absolute;
    //background:#f1103a;
    border-radius:50px;
    color: #FFF;
    cursor: pointer;
    display: block;
    font-family: Courier New;
    font-size: 25px;
    font-weight: bold;
    width: 0px;
    height: 30px;
    line-height: 35px;
    text-align: center;
    text-shadow: 0 -4px;
  }
  #wrap > label:hover{ background:#000; }
}