/* #ICON FONT
================================================== */


@font-face {
	font-family: 'WebSymbolsRegular';
	src: url('fonts/websymbols-regular-webfont.eot');
	src: url('fonts/websymbols-regular-webfont.eot@#iefix') format('embedded-opentype'), url('fonts/websymbols-regular-webfont.woff') format('woff'), url('fonts/websymbols-regular-webfont.ttf') format('truetype'), url('fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*	Blockquotes  */

.slider a{
	text-decoration:none;
	outline:none;
	color:#fe8a02;
}
a:hover {
	color:#322e39;
}
.slider	span {
	color:#fe8a02;
}
	


